@font-face {
    font-family: "GolosUI";
    src:
        url("../fonts/GolosUI_Bold.woff") format("woff"),
        url("../fonts/GolosUI_Bold.woff2") format("woff2"),
        url("../fonts/GolosUI_Regular.woff") format("woff"),
        url("../fonts/GolosUI_Regular.woff2") format("woff2"),
        url("../fonts/GolosUI_Medium.woff") format("woff"),
        url("../fonts/GolosUI_Medium.woff2") format("woff2"),
        url("../fonts/GolosUI_VF.woff") format("woff"),
        url("../fonts/GolosUI_VF.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
