@font-face {
    font-family: "GolosUI";
    src:
        url("../fonts/GolosUI_Regular.woff") format("woff"),
        url("../fonts/GolosUI_Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "GolosUI";
    src:
        url("../fonts/GolosUI_Medium.woff") format("woff"),
        url("../fonts/GolosUI_Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "GolosUI";
    src:
        url("../fonts/GolosUI_Bold.woff") format("woff"),
        url("../fonts/GolosUI_Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}
