:root {
    --error-background: #FFECEC;
    --error-text: #740000;
    --success-background: #E5FFD9;
    --success-text: #004905;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    font-family: GolosUI, sans-serif;
    font-size: 16px;
}

.login {
    display: flex;
    align-items: center;
    gap: 6.68rem;
}

.login__content {
    position: relative;
}

.login__title {
    font-size: 140px;
    font-weight: 700;
    line-height: 180px;
    margin: 0;
    position: absolute;
    top: -21%;
    left: -20%;
    color: #222222;
}

.login__image {
    width: 28.9rem;
    height: auto;
}

.login__form {
    display: flex;
    flex-direction: column;
    width: 21.4rem;
    max-width: 21.4rem;
}

.login__label {
    margin: 16px 0 5px;
    font-weight: 400;
    font-size: 15px;
}

.login__label:first-child {
    margin: 0 0 5px;
}

.login__input {
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    background-color: #f2f3f5;
    height: 2.75rem;
    font-family: GolosUI, sans-serif;
    line-height: 18px;
    font-size: 15px;
}

.login__input:hover {
    background-color: #ededed;
}

.login__input:focus {
    outline: 1px solid #3f8ae0;
}

.login__hint {
    margin-top: 5px;
    font-size: 13px;
    color: #808080;
}

.login__notification {
    height: 0;
    display: none;
    transition: height 0.3s ease;
    padding: 0 0.75rem;
    font: 400 15px/1.2 GolosUI, sans-serif;
    border-radius: 0.63rem;
}

.login__notification_error {
    background: var(--error-background);
    color: var(--error-text);
    display: block;
    height: auto;
    padding: 0.75rem;
}

.login__notification_success {
    background: var(--success-background);
    color: var(--success-text);
    display: block;
    height: auto;
    padding: 0.75rem;
}

.login__password-container {
    display: flex;
    align-items: center;
    position: relative;
}

.login__toggle-password {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 25%;
}

.login__toggle-icon {
    width: 22px;
    height: 22px;
    fill: #222222;
    stroke: #222222;
}

.login__button {
    margin-top: 32px;
    padding: 10px;
    background-color: #222222;
    color: white;
    border: none;
    border-radius: 10px;
    height: 2.75rem;
    line-height: 19.2px;
    font-weight: 500;
    font-size: 15px;
    font-family: GolosUI, sans-serif;
    cursor: pointer;
}

.login__button:hover {
    background-color: #373737;
}

.login__button:active {
    background-color: #b4b4b4;
}
